In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("FM0501A1Mc.csv", header=[0])
#pd.set_option("display.max_columns", None)

In [3]:
df

          時間   M1A原始值  M1A年增率(%)    M1B原始值  M1B年增率(%)     M2原始值  M2年增率(%)
0    2012M01  4481008       4.22  11933630       3.86  32755688      5.22
1    2012M02  4374574       1.16  11957169       2.84  32971614      4.92
2    2012M03  4359028       2.74  11879831       3.47  32956815      5.05
3    2012M04  4412298       4.89  11877381       3.77  32972461      4.72
4    2012M05  4436664       4.55  11847406       3.24  32968376      4.40
..       ...      ...        ...       ...        ...       ...       ...
115  2021M08  9532791      18.13  23977765      15.39  52425303      8.44
116  2021M09  9564447      16.33  24156031      14.96  52786682      8.69
117  2021M10  9648028      17.23  24207931      14.94  52804318      8.45
118  2021M11  9746450      15.94  24457750      14.18  53311701      8.26
119  2021M12  9940457      14.28  24758016      12.75  53709010      8.02

[120 rows x 7 columns]

In [4]:
df.columns

Index(['時間', 'M1A原始值', 'M1A年增率(%)', 'M1B原始值', 'M1B年增率(%)', 'M2原始值',
       'M2年增率(%)'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   時間         120 non-null    object
 1   M1A原始值     120 non-null    int64
 2   M1A年增率(%)  120 non-null    float64
 3   M1B原始值     120 non-null    int64
 4   M1B年增率(%)  120 non-null    float64
 5   M2原始值      120 non-null    int64
 6   M2年增率(%)   120 non-null    float64
dtypes: float64(3), int64(3), object(1)
memory usage: 6.7+ KB

In [6]:
df.rename(columns = {'時間':'ROC_year',
                     'M1A原始值':'M1A',
                     'M1A年增率(%)':'M1A_rate',
                     'M1B原始值':'M1B',
                     'M1B年增率(%)':'M1B_rate',
                     'M2原始值':'M2',
                     'M2年增率(%)':'M2_rate',
                    }, inplace = True)

In [7]:
df['ROC_year']=df['ROC_year'].str.split("M").str.get(0) + df['ROC_year'].str.split("M").str.get(1)

In [8]:
df['ROC_year'] = df['ROC_year'].astype('int')
df['ROC_year'] = df['ROC_year']-191100

In [9]:
df

     ROC_year      M1A  M1A_rate       M1B  M1B_rate        M2  M2_rate
0       10101  4481008      4.22  11933630      3.86  32755688     5.22
1       10102  4374574      1.16  11957169      2.84  32971614     4.92
2       10103  4359028      2.74  11879831      3.47  32956815     5.05
3       10104  4412298      4.89  11877381      3.77  32972461     4.72
4       10105  4436664      4.55  11847406      3.24  32968376     4.40
..        ...      ...       ...       ...       ...       ...      ...
115     11008  9532791     18.13  23977765     15.39  52425303     8.44
116     11009  9564447     16.33  24156031     14.96  52786682     8.69
117     11010  9648028     17.23  24207931     14.94  52804318     8.45
118     11011  9746450     15.94  24457750     14.18  53311701     8.26
119     11012  9940457     14.28  24758016     12.75  53709010     8.02

[120 rows x 7 columns]

In [10]:
# 轉換成main dataframe一樣的欄位方便合併
df.rename(columns = {'ROC_year':'date'}, inplace = True)

In [11]:
df.to_csv("currency.csv", index=False)