In [42]:
# excle to csv
import pandas as pd 
import glob
filename=glob.glob('C:/Users/Student/Desktop/人口結構/遷出遷入/台北_遷出遷入/*.ods')
for i in filename:
    df=pd.read_excel(f'{i}')
    df.to_csv('./'+f'{i}'[-9:-4]+'.csv')
    print(i,'done')

C:/Users/Student/Desktop/人口結構/遷出遷入/台北_遷出遷入\100遷入.ods done
C:/Users/Student/Desktop/人口結構/遷出遷入/台北_遷出遷入\100遷出.ods done
C:/Users/Student/Desktop/人口結構/遷出遷入/台北_遷出遷入\101遷入.ods done
C:/Users/Student/Desktop/人口結構/遷出遷入/台北_遷出遷入\101遷出.ods done
C:/Users/Student/Desktop/人口結構/遷出遷入/台北_遷出遷入\102遷入.ods done
C:/Users/Student/Desktop/人口結構/遷出遷入/台北_遷出遷入\102遷出.ods done
C:/Users/Student/Desktop/人口結構/遷出遷入/台北_遷出遷入\103遷入.ods done
C:/Users/Student/Desktop/人口結構/遷出遷入/台北_遷出遷入\103遷出.ods done
C:/Users/Student/Desktop/人口結構/遷出遷入/台北_遷出遷入\104遷入.ods done
C:/Users/Student/Desktop/人口結構/遷出遷入/台北_遷出遷入\104遷出.ods done
C:/Users/Student/Desktop/人口結構/遷出遷入/台北_遷出遷入\105遷入.ods done
C:/Users/Student/Desktop/人口結構/遷出遷入/台北_遷出遷入\105遷出.ods done
C:/Users/Student/Desktop/人口結構/遷出遷入/台北_遷出遷入\106遷入.ods done
C:/Users/Student/Desktop/人口結構/遷出遷入/台北_遷出遷入\106遷出.ods done
C:/Users/Student/Desktop/人口結構/遷出遷入/台北_遷出遷入\107遷入.ods done
C:/Users/Student/Desktop/人口結構/遷出遷入/台北_遷出遷入\107遷出.ods done
C:/Users/Student/Desktop/人口結構/遷出遷入/台北_遷出遷入\108遷入.ods done
C:/Users/Student/Desktop/人口結構/遷出遷入/台北_遷出遷入\108遷出.ods done
C:/Users/Student/Desktop/人口結構/遷出遷入/台北_遷出遷入\109遷入.ods done
C:/Users/Student/Desktop/人口結構/遷出遷入/台北_遷出遷入\109遷出.ods done
C:/Users/Student/Desktop/人口結構/遷出遷入/台北_遷出遷入\110遷入.ods done
C:/Users/Student/Desktop/人口結構/遷出遷入/台北_遷出遷入\110遷出.ods done
C:/Users/Student/Desktop/人口結構/遷出遷入/台北_遷出遷入\111遷入.ods done
C:/Users/Student/Desktop/人口結構/遷出遷入/台北_遷出遷入\111遷出.ods done

In [341]:
# clean data
import numpy as np
import pandas as pd
import glob
filename=glob.glob('C:/Users/Student/雙北人口/row data/taipei/*.csv')
for f in filename:
    aaa=pd.read_csv(f)

    # cover data
    aaa=aaa.iloc[0:15:,[1,2]]
    
    # drop cols
    #aaa=aaa.drop(['Unnamed: 0','Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13'],axis=1)
    
    # drop rows
    aaa=aaa.drop([0,1,2])
    
    # rename
    col1=str(aaa.columns[0][8:11])
    popm=str(aaa.columns[0][-5:-3])
    year=str(aaa.columns[0][3:6])
    aaa.rename(columns ={aaa.columns[0]:col1,aaa.columns[1]:popm},inplace=True)
    #aaa['行政區']=aaa['行政區'][:12]
    
    # add col
    aaa=aaa.assign(年份=year)
    
    # save
    aaa.to_csv(f'../{year}{popm}.csv')
    print(f,'done')

C:/Users/Student/雙北人口/row data/taipei\100遷入.csv done
C:/Users/Student/雙北人口/row data/taipei\100遷出.csv done
C:/Users/Student/雙北人口/row data/taipei\101遷入.csv done
C:/Users/Student/雙北人口/row data/taipei\101遷出.csv done
C:/Users/Student/雙北人口/row data/taipei\102遷入.csv done
C:/Users/Student/雙北人口/row data/taipei\102遷出.csv done
C:/Users/Student/雙北人口/row data/taipei\103遷入.csv done
C:/Users/Student/雙北人口/row data/taipei\103遷出.csv done
C:/Users/Student/雙北人口/row data/taipei\104遷入.csv done
C:/Users/Student/雙北人口/row data/taipei\104遷出.csv done
C:/Users/Student/雙北人口/row data/taipei\105遷入.csv done
C:/Users/Student/雙北人口/row data/taipei\105遷出.csv done
C:/Users/Student/雙北人口/row data/taipei\106遷入.csv done
C:/Users/Student/雙北人口/row data/taipei\106遷出.csv done
C:/Users/Student/雙北人口/row data/taipei\107遷入.csv done
C:/Users/Student/雙北人口/row data/taipei\107遷出.csv done
C:/Users/Student/雙北人口/row data/taipei\108遷入.csv done
C:/Users/Student/雙北人口/row data/taipei\108遷出.csv done
C:/Users/Student/雙北人口/row data/taipei\109遷入.csv done
C:/Users/Student/雙北人口/row data/taipei\109遷出.csv done
C:/Users/Student/雙北人口/row data/taipei\110遷入.csv done
C:/Users/Student/雙北人口/row data/taipei\110遷出.csv done
C:/Users/Student/雙北人口/row data/taipei\111遷入.csv done
C:/Users/Student/雙北人口/row data/taipei\111遷出.csv done

In [246]:
# concat
import glob
final = pd.concat([pd.read_csv(i) for i in glob.glob('../*.csv')])
final=final.reset_index()
print(final)
final.to_csv('../popm.csv')

     index  Unnamed: 0 行政區       遷入   年份      遷出
0        0           3  松山  14529.0  100     NaN
1        1           4  信義  14192.0  100     NaN
2        2           5  大安  22042.0  100     NaN
3        3           6  中山  18212.0  100     NaN
4        4           7  中正  13453.0  100     NaN
..     ...         ...  ..      ...  ...     ...
283      7          10  文山      NaN  111  7794.0
284      8          11  南港      NaN  111  3744.0
285      9          12  內湖      NaN  111  8603.0
286     10          13  士林      NaN  111  8249.0
287     11          14  北投      NaN  111  6003.0

[288 rows x 6 columns]

In [278]:
import pandas as pd 
aaa=pd.read_csv('./110遷入.csv')
aaa

,Unnamed: 0,臺北市110年各行政區遷入人口數,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,單位：,人
1,1,行政區,合計,1月,2月,3月,4月,5月,6月,7月,8月,9月,10月,11月,12月
2,2,合計,108058,8082,7335,10548,8908,7070,6959,8369,10386,12497,8509,9081,10314
3,3,松山,9077,684,654,829,712,633,501,564,815,1044,856,791,994
4,4,信義,7986,568,472,714,582,495,540,682,816,1001,591,702,823
5,5,大安,13833,999,958,1461,1166,965,946,999,1240,1539,1154,1160,1246
6,6,中山,10745,829,705,1019,890,728,727,796,1069,1244,706,925,1107
7,7,中正,9252,736,635,911,742,587,541,655,772,1155,788,837,893
8,8,大同,6435,462,471,776,529,461,444,495,633,727,456,453,528
9,9,萬華,6829,480,434,675,561,329,361,633,766,818,579,543,650
10,10,文山,9712,813,707,917,809,596,652,794,952,1071,628,879,894
11,11,南港,5365,384,331,510,448,382,316,424,538,645,478,420,489
12,12,內湖,10927,740,729,1045,925,756,701,923,1136,1271,879,853,969
13,13,士林,8966,720,606,830,722,573,610,738,843,994,695,768,867
14,14,北投,8931,667,633,861,822,565,620,666,806,988,699,750,854
15,15,註:本表係依據戶籍資料產製，表列各區遷入人口數係指自本市他區、自外縣市、自國外遷入及初設戶籍...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [279]:
# drop cols
aaa=aaa.drop(['Unnamed: 0','Unnamed: 2','Unnamed: 3','Unnamed: 4','Unnamed: 5','Unnamed: 6','Unnamed: 7','Unnamed: 8','Unnamed: 9','Unnamed: 10','Unnamed: 11','Unnamed: 12','Unnamed: 13'],axis=1)
# drop rows
#aaa.iloc[15]=aaa.iloc[2]
aaa=aaa.drop([0,1,2,15])

In [282]:
aaa.rename(columns ={aaa.columns[0]:col1,aaa.columns[1]:popm},inplace=True)

In [280]:
col1=str(aaa.columns[0][8:11])
popm=str(aaa.columns[0][-5:-3])
year=str(aaa.columns[0][3:6])
print(col1,popm,year)

行政區 遷入 110

In [281]:
aaa=aaa.assign(年份=year)

In [283]:
aaa

   行政區     遷入   年份
3   松山   9077  110
4   信義   7986  110
5   大安  13833  110
6   中山  10745  110
7   中正   9252  110
8   大同   6435  110
9   萬華   6829  110
10  文山   9712  110
11  南港   5365  110
12  內湖  10927  110
13  士林   8966  110
14  北投   8931  110

In [6]:
aaa.to_csv(f'../{year}{popm}.csv')

In [266]:
bbb=aaa.iloc[0:15:,[1,2]]

In [267]:
col1=str(bbb.columns[0][8:11])
popm=str(bbb.columns[0][-5:-3])
year=str(bbb.columns[0][3:6])
print(col1,popm,year)

行政區 遷出 110

In [268]:
bbb.rename(columns ={bbb.columns[0]:col1,bbb.columns[1]:popm},inplace=True)

In [271]:
#bbb.iloc[:,2]=year
import numpy as np
bbb=bbb.assign(年份=year)

In [332]:
aaa=aaa.reset_index()

In [333]:
bbb=bbb.reset_index()

In [338]:
pd.merge(aaa, bbb, left_index=True, right_index=True)

    level_0_x  index_x 行政區_x     遷入 年份_x  level_0_y  index_y 行政區_y     遷出 年份_y
0           0        3    松山   9077  110          3        3    松山  15810  110
1           1        4    信義   7986  110          4        4    信義  15538  110
2           2        5    大安  13833  110          5        5    大安  24692  110
3           3        6    中山  10745  110          6        6    中山  18945  110
4           4        7    中正   9252  110          7        7    中正  13938  110
5           5        8    大同   6435  110          8        8    大同   9255  110
6           6        9    萬華   6829  110          9        9    萬華  12506  110
7           7       10    文山   9712  110         10       10    文山  16149  110
8           8       11    南港   5365  110         11       11    南港   8328  110
9           9       12    內湖  10927  110         12       12    內湖  17347  110
10         10       13    士林   8966  110         13       13    士林  17424  110
11         11       14    北投   8931  110         14       14    北投  14223  110

In [324]:
aaa.index

RangeIndex(start=0, stop=12, step=1)

In [325]:
bbb.index

RangeIndex(start=0, stop=15, step=1)

In [329]:
aaa

    index 行政區     遷入   年份
0       3  松山   9077  110
1       4  信義   7986  110
2       5  大安  13833  110
3       6  中山  10745  110
4       7  中正   9252  110
5       8  大同   6435  110
6       9  萬華   6829  110
7      10  文山   9712  110
8      11  南港   5365  110
9      12  內湖  10927  110
10     13  士林   8966  110
11     14  北投   8931  110

In [330]:
bbb

    index  行政區      遷出   年份
0       0  NaN     NaN  110
1       1  行政區      合計  110
2       2   合計  184155  110
3       3   松山   15810  110
4       4   信義   15538  110
5       5   大安   24692  110
6       6   中山   18945  110
7       7   中正   13938  110
8       8   大同    9255  110
9       9   萬華   12506  110
10     10   文山   16149  110
11     11   南港    8328  110
12     12   內湖   17347  110
13     13   士林   17424  110
14     14   北投   14223  110

In [331]:
bbb=bbb.drop([0,1,2])