In [1]:
import pandas as pd
import glob

In [4]:
lst = glob.glob('C:/Users/Student/Desktop/population/pop/tai_pop/*')
lst

['C:/Users/Student/Desktop/population/pop/tai_pop\\100年1-12月各區人口數.ods',
 'C:/Users/Student/Desktop/population/pop/tai_pop\\101年1-12月各區人口數.ods',
 'C:/Users/Student/Desktop/population/pop/tai_pop\\102年1-12月各區人口數.ods',
 'C:/Users/Student/Desktop/population/pop/tai_pop\\103年1-12月各區人口數.ods',
 'C:/Users/Student/Desktop/population/pop/tai_pop\\104年1-12月各區人口數.ods',
 'C:/Users/Student/Desktop/population/pop/tai_pop\\105年1-12月各區人口數.ods',
 'C:/Users/Student/Desktop/population/pop/tai_pop\\106年1-12月各區人口數.ods',
 'C:/Users/Student/Desktop/population/pop/tai_pop\\107年1-12月各區人口數.ods',
 'C:/Users/Student/Desktop/population/pop/tai_pop\\108年1-12月各區人口數.ods',
 'C:/Users/Student/Desktop/population/pop/tai_pop\\109年1-12月各區人口數.ods',
 'C:/Users/Student/Desktop/population/pop/tai_pop\\110年1-12月各區人口數.ods',
 'C:/Users/Student/Desktop/population/pop/tai_pop\\111年1-12月各區人口數.ods']

In [121]:
data = pd.DataFrame()

In [122]:
for i in lst[:-1]:
    for j in [0,11]:
        df = pd.read_excel(i,sheet_name = j)
        df = df.iloc[3:15,[0,6]]
        df = df.rename(columns={df.columns[0]: "district", df1.columns[1]: "population"})
        df['date'] = i[30:33]
        df['Month'] = j+1
        data = pd.concat([data,df])
    print(f'{i[30:33]} OK!!!')

100 OK!!!
101 OK!!!
102 OK!!!
103 OK!!!
104 OK!!!
105 OK!!!
106 OK!!!
107 OK!!!
108 OK!!!
109 OK!!!
110 OK!!!

In [123]:
data

   district population date  Month
3        松山     208769  100      1
4        信義     225375  100      1
5        大安     311896  100      1
6        中山     220573  100      1
7        中正     159768  100      1
..      ...        ...  ...    ...
10      文山區     261576  110     12
11      南港區     115780  110     12
12      內湖區     276707  110     12
13      士林區     269682  110     12
14      北投區     244750  110     12

[264 rows x 4 columns]

In [124]:
data['district'] = data['district'].apply(lambda x : x.strip()[0:2] if len(x)>=3 else x)

In [125]:
data['district'].unique()

array(['松山', '信義', '大安', '中山', '中正', '大同', '萬華', '文山', '南港', '內湖', '士林',
       '北投'], dtype=object)

In [126]:
data = data.sort_values(['district','date','Month'])
data

   district population date  Month
6        中山     220573  100      1
6        中山     224102  100     12
6        中山     224193  101      1
6        中山     226659  101     12
6        中山     227037  102      1
..      ...        ...  ...    ...
9        萬華     187076  108     12
9        萬華     186848  109      1
9        萬華     183088  109     12
9        萬華     182625  110      1
9        萬華     176617  110     12

[264 rows x 4 columns]

In [128]:
data['prev_pop'] = data['population'].shift(1)
data = data[data['Month']==12]
data

   district population date  Month prev_pop
6        中山     224102  100     12   220573
6        中山     226659  101     12   224193
6        中山     228753  102     12   227037
6        中山     230496  103     12   228926
6        中山     231350  104     12   230833
..      ...        ...  ...    ...      ...
9        萬華     191850  106     12   193415
9        萬華     189603  107     12   191747
9        萬華     187076  108     12   189387
9        萬華     183088  109     12   186848
9        萬華     176617  110     12   182625

[132 rows x 5 columns]

In [129]:
data['growth'] = data['population'] - data['prev_pop']
data['g_ave'] = (data['population'] + data['prev_pop'])/2
data['g_rate'] = data['growth'] / data['g_ave']

C:\Users\Student\AppData\Local\Temp/ipykernel_12604/3874253259.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['growth'] = data['population'] - data['prev_pop']
C:\Users\Student\AppData\Local\Temp/ipykernel_12604/3874253259.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['g_ave'] = (data['population'] + data['prev_pop'])/2
C:\Users\Student\AppData\Local\Temp/ipykernel_12604/3874253259.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['g_rate'] = data['growth'] / data['g_ave']

In [130]:
data

   district population date  Month prev_pop growth     g_ave    g_rate
6        中山     224102  100     12   220573   3529  222337.5  0.015872
6        中山     226659  101     12   224193   2466  225426.0  0.010939
6        中山     228753  102     12   227037   1716  227895.0   0.00753
6        中山     230496  103     12   228926   1570  229711.0  0.006835
6        中山     231350  104     12   230833    517  231091.5  0.002237
..      ...        ...  ...    ...      ...    ...       ...       ...
9        萬華     191850  106     12   193415  -1565  192632.5 -0.008124
9        萬華     189603  107     12   191747  -2144  190675.0 -0.011244
9        萬華     187076  108     12   189387  -2311  188231.5 -0.012277
9        萬華     183088  109     12   186848  -3760  184968.0 -0.020328
9        萬華     176617  110     12   182625  -6008  179621.0 -0.033448

[132 rows x 8 columns]

In [131]:
data.to_csv('tai_g.csv')