In [16]:
# 雙北合併
import pandas as pd
files = ["C:/Users/Student/pop/台北/taipop.csv"]+["C:/Users/Student/pop/新北/ntpop.csv"]
pop = pd.concat((pd.read_csv(f) for f in files),ignore_index=True)

In [17]:
pop[pop['區']=='總計']

    Unnamed: 0  index   區       戶數     總人口數   年份       性別比
0            0      0  總計   983906  2622883  100  0.930686
13          13      0  總計  1000093  2652959  101  0.928179
26          26      0  總計  1017406  2675033  102  0.926010
39          39      0  總計  1027004  2688140  103  0.923422
52          52      0  總計  1037834  2704133  104  0.920766
65          65      0  總計  1043859  2704974  105  0.919016
78          78      0  總計  1047393  2695371  106  0.916963
91          91      0  總計  1051477  2682721  107  0.914691

In [18]:
pop=pop.drop([0,13,26,39,52,65,78,91])

In [19]:
pop[pop['區']==' 總計']

     Unnamed: 0  index    區       戶數     總人口數   年份       性別比
104         104      0   總計  1056328  2666908  108  0.912416
117         117      0   總計  1060206  2642877  109  0.909488
130         130      0   總計  1060504  2597635  110  0.908116
143         143      0   總計  1050027  2514425  111  0.909195

In [20]:
pop=pop.drop([104,117,130,143])

In [21]:
pop["區"]=pop["區"].apply(lambda x: x.strip())

In [22]:
pop

     Unnamed: 0  index    區      戶數    總人口數   年份       性別比
1             1      1   松山   77967  208769  100  0.901755
2             2      2   信義   85944  225375  100  0.928309
3             3      3   大安  116889  311896  100  0.889844
4             4      4   中山   91980  220573  100  0.888306
5             5      5   中正   62282  159768  100  0.931641
..          ...    ...  ...     ...     ...  ...       ...
499         343     24  萬里區    7525   21404  111  0.998506
500         344     25  平溪區    2209    4322  111  1.272345
501         345     26  雙溪區    3665    8215  111  1.190667
502         346     27  貢寮區    4307   11504  111  1.040440
503         347     28  烏來區    1915    6378  111  0.955842

[492 rows x 7 columns]

In [24]:
pop['區']=pop['區'].apply(lambda x:str(x)[0:2])

In [26]:
# 存檔
pop.to_csv('../cleaned_data/pop.csv',index=False)