In [1]:
import pandas as pd

In [2]:
df = pd.read_xml('GDP_byQuarter.xml')

In [3]:
df

                                 Item TIME_PERIOD FREQ    TYPE  Item_VALUE
0                 當期價格(新台幣百萬元)#1.民間消費      1981Q1    Q     原始值   237413.00
1                 當期價格(新台幣百萬元)#1.民間消費      1981Q1    Q  年增率(%)       23.26
2                 當期價格(新台幣百萬元)#2.政府消費      1981Q1    Q     原始值    74460.00
3                 當期價格(新台幣百萬元)#2.政府消費      1981Q1    Q  年增率(%)       28.05
4      當期價格(新台幣百萬元)#3.資本形成:3.1--3.2合計      1981Q1    Q     原始值   137385.00
...                               ...         ...  ...     ...         ...
16723      平減指數(2016年=100)#9.國外要素所得淨額      2021Q4    Q  年增率(%)         NaN
16724   平減指數(2016年=100)#10.對外貿易條件變動損益      2021Q4    Q     原始值         NaN
16725   平減指數(2016年=100)#10.對外貿易條件變動損益      2021Q4    Q  年增率(%)         NaN
16726          平減指數(2016年=100)#11.GNI      2021Q4    Q     原始值      103.86
16727          平減指數(2016年=100)#11.GNI      2021Q4    Q  年增率(%)        4.41

[16728 rows x 5 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16728 entries, 0 to 16727
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Item         16728 non-null  object
 1   TIME_PERIOD  16728 non-null  object
 2   FREQ         16728 non-null  object
 3   TYPE         16728 non-null  object
 4   Item_VALUE   13928 non-null  float64
dtypes: float64(1), object(4)
memory usage: 653.6+ KB

In [5]:
df['TIME_PERIOD'].unique()

array(['1981Q1', '1981Q2', '1981Q3', '1981Q4', '1982Q1', '1982Q2',
       '1982Q3', '1982Q4', '1983Q1', '1983Q2', '1983Q3', '1983Q4',
       '1984Q1', '1984Q2', '1984Q3', '1984Q4', '1985Q1', '1985Q2',
       '1985Q3', '1985Q4', '1986Q1', '1986Q2', '1986Q3', '1986Q4',
       '1987Q1', '1987Q2', '1987Q3', '1987Q4', '1988Q1', '1988Q2',
       '1988Q3', '1988Q4', '1989Q1', '1989Q2', '1989Q3', '1989Q4',
       '1990Q1', '1990Q2', '1990Q3', '1990Q4', '1991Q1', '1991Q2',
       '1991Q3', '1991Q4', '1992Q1', '1992Q2', '1992Q3', '1992Q4',
       '1993Q1', '1993Q2', '1993Q3', '1993Q4', '1994Q1', '1994Q2',
       '1994Q3', '1994Q4', '1995Q1', '1995Q2', '1995Q3', '1995Q4',
       '1996Q1', '1996Q2', '1996Q3', '1996Q4', '1997Q1', '1997Q2',
       '1997Q3', '1997Q4', '1998Q1', '1998Q2', '1998Q3', '1998Q4',
       '1999Q1', '1999Q2', '1999Q3', '1999Q4', '2000Q1', '2000Q2',
       '2000Q3', '2000Q4', '2001Q1', '2001Q2', '2001Q3', '2001Q4',
       '2002Q1', '2002Q2', '2002Q3', '2002Q4', '2003Q1', '2003Q2',
       '2003Q3', '2003Q4', '2004Q1', '2004Q2', '2004Q3', '2004Q4',
       '2005Q1', '2005Q2', '2005Q3', '2005Q4', '2006Q1', '2006Q2',
       '2006Q3', '2006Q4', '2007Q1', '2007Q2', '2007Q3', '2007Q4',
       '2008Q1', '2008Q2', '2008Q3', '2008Q4', '2009Q1', '2009Q2',
       '2009Q3', '2009Q4', '2010Q1', '2010Q2', '2010Q3', '2010Q4',
       '2011Q1', '2011Q2', '2011Q3', '2011Q4', '2012Q1', '2012Q2',
       '2012Q3', '2012Q4', '2013Q1', '2013Q2', '2013Q3', '2013Q4',
       '2014Q1', '2014Q2', '2014Q3', '2014Q4', '2015Q1', '2015Q2',
       '2015Q3', '2015Q4', '2016Q1', '2016Q2', '2016Q3', '2016Q4',
       '2017Q1', '2017Q2', '2017Q3', '2017Q4', '2018Q1', '2018Q2',
       '2018Q3', '2018Q4', '2019Q1', '2019Q2', '2019Q3', '2019Q4',
       '2020Q1', '2020Q2', '2020Q3', '2020Q4', '2021Q1', '2021Q2',
       '2021Q3', '2021Q4'], dtype=object)

In [6]:
df1 = df[df['TIME_PERIOD'] == '1981Q1']

In [7]:
df1

                               Item TIME_PERIOD FREQ    TYPE  Item_VALUE
0               當期價格(新台幣百萬元)#1.民間消費      1981Q1    Q     原始值   237413.00
1               當期價格(新台幣百萬元)#1.民間消費      1981Q1    Q  年增率(%)       23.26
2               當期價格(新台幣百萬元)#2.政府消費      1981Q1    Q     原始值    74460.00
3               當期價格(新台幣百萬元)#2.政府消費      1981Q1    Q  年增率(%)       28.05
4    當期價格(新台幣百萬元)#3.資本形成:3.1--3.2合計      1981Q1    Q     原始值   137385.00
..                              ...         ...  ...     ...         ...
97       平減指數(2016年=100)#9.國外要素所得淨額      1981Q1    Q  年增率(%)         NaN
98    平減指數(2016年=100)#10.對外貿易條件變動損益      1981Q1    Q     原始值         NaN
99    平減指數(2016年=100)#10.對外貿易條件變動損益      1981Q1    Q  年增率(%)         NaN
100          平減指數(2016年=100)#11.GNI      1981Q1    Q     原始值       66.93
101          平減指數(2016年=100)#11.GNI      1981Q1    Q  年增率(%)       14.78

[102 rows x 5 columns]

In [8]:
df1['Item'].unique()

array(['當期價格(新台幣百萬元)#1.民間消費', '當期價格(新台幣百萬元)#2.政府消費',
       '當期價格(新台幣百萬元)#3.資本形成:3.1--3.2合計', '當期價格(新台幣百萬元)#3.1固定資本形成',
       '當期價格(新台幣百萬元)#3.2存貨變動', '當期價格(新台幣百萬元)#4.商品及服務輸出:4.1--4.2合計',
       '當期價格(新台幣百萬元)#4.1商品、運輸與保險', '當期價格(新台幣百萬元)#4.2其他',
       '當期價格(新台幣百萬元)#5.商品及服務輸入:5.1--5.2合計', '當期價格(新台幣百萬元)#5.1商品、運輸與保險',
       '當期價格(新台幣百萬元)#5.2其他', '當期價格(新台幣百萬元)#6.國內需求',
       '當期價格(新台幣百萬元)#7.國外淨需求', '當期價格(新台幣百萬元)#8.GDP',
       '當期價格(新台幣百萬元)#9.國外要素所得淨額', '當期價格(新台幣百萬元)#10.對外貿易條件變動損益',
       '當期價格(新台幣百萬元)#11.GNI', '連鎖實質值(2016為參考年_新台幣百萬元)#1.民間消費',
       '連鎖實質值(2016為參考年_新台幣百萬元)#2.政府消費',
       '連鎖實質值(2016為參考年_新台幣百萬元)#3.資本形成:3.1--3.2合計',
       '連鎖實質值(2016為參考年_新台幣百萬元)#3.1固定資本形成',
       '連鎖實質值(2016為參考年_新台幣百萬元)#3.2存貨變動',
       '連鎖實質值(2016為參考年_新台幣百萬元)#4.商品及服務輸出:4.1--4.2合計',
       '連鎖實質值(2016為參考年_新台幣百萬元)#4.1商品、運輸與保險',
       '連鎖實質值(2016為參考年_新台幣百萬元)#4.2其他',
       '連鎖實質值(2016為參考年_新台幣百萬元)#5.商品及服務輸入:5.1--5.2合計',
       '連鎖實質值(2016為參考年_新台幣百萬元)#5.1商品、運輸與保險',
       '連鎖實質值(2016為參考年_新台幣百萬元)#5.2其他', '連鎖實質值(2016為參考年_新台幣百萬元)#6.國內需求',
       '連鎖實質值(2016為參考年_新台幣百萬元)#7.國外淨需求', '連鎖實質值(2016為參考年_新台幣百萬元)#8.GDP',
       '連鎖實質值(2016為參考年_新台幣百萬元)#9.國外要素所得淨額',
       '連鎖實質值(2016為參考年_新台幣百萬元)#10.對外貿易條件變動損益',
       '連鎖實質值(2016為參考年_新台幣百萬元)#11.GNI', '平減指數(2016年=100)#1.民間消費',
       '平減指數(2016年=100)#2.政府消費', '平減指數(2016年=100)#3.資本形成:3.1--3.2合計',
       '平減指數(2016年=100)#3.1固定資本形成', '平減指數(2016年=100)#3.2存貨變動',
       '平減指數(2016年=100)#4.商品及服務輸出:4.1--4.2合計',
       '平減指數(2016年=100)#4.1商品、運輸與保險', '平減指數(2016年=100)#4.2其他',
       '平減指數(2016年=100)#5.商品及服務輸入:5.1--5.2合計',
       '平減指數(2016年=100)#5.1商品、運輸與保險', '平減指數(2016年=100)#5.2其他',
       '平減指數(2016年=100)#6.國內需求', '平減指數(2016年=100)#7.國外淨需求',
       '平減指數(2016年=100)#8.GDP', '平減指數(2016年=100)#9.國外要素所得淨額',
       '平減指數(2016年=100)#10.對外貿易條件變動損益', '平減指數(2016年=100)#11.GNI'],
      dtype=object)

In [9]:
# ----------------------------

In [10]:
#GDP = df[df['Item'] == '當期價格(新台幣百萬元)#8.GDP'] 
GDP = df[df['Item'] == '連鎖實質值(2016為參考年_新台幣百萬元)#8.GDP']  # 這才是正確的

In [11]:
GDP

                               Item TIME_PERIOD FREQ    TYPE  Item_VALUE
60     連鎖實質值(2016為參考年_新台幣百萬元)#8.GDP      1981Q1    Q     原始值   597718.00
61     連鎖實質值(2016為參考年_新台幣百萬元)#8.GDP      1981Q1    Q  年增率(%)        7.19
162    連鎖實質值(2016為參考年_新台幣百萬元)#8.GDP      1981Q2    Q     原始值   628045.00
163    連鎖實質值(2016為參考年_新台幣百萬元)#8.GDP      1981Q2    Q  年增率(%)        7.06
264    連鎖實質值(2016為參考年_新台幣百萬元)#8.GDP      1981Q3    Q     原始值   630398.00
...                             ...         ...  ...     ...         ...
16483  連鎖實質值(2016為參考年_新台幣百萬元)#8.GDP      2021Q2    Q  年增率(%)        7.76
16584  連鎖實質值(2016為參考年_新台幣百萬元)#8.GDP      2021Q3    Q     原始值  5318063.00
16585  連鎖實質值(2016為參考年_新台幣百萬元)#8.GDP      2021Q3    Q  年增率(%)        4.37
16686  連鎖實質值(2016為參考年_新台幣百萬元)#8.GDP      2021Q4    Q     原始值  5604822.00
16687  連鎖實質值(2016為參考年_新台幣百萬元)#8.GDP      2021Q4    Q  年增率(%)        4.86

[328 rows x 5 columns]

In [12]:
GDP['year']=GDP['TIME_PERIOD'].str.split("Q").str.get(0)
GDP['quater']=GDP['TIME_PERIOD'].str.split("Q").str.get(1)

C:\Users\Student\AppData\Local\Temp/ipykernel_5296/3413120427.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GDP['year']=GDP['TIME_PERIOD'].str.split("Q").str.get(0)
C:\Users\Student\AppData\Local\Temp/ipykernel_5296/3413120427.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GDP['quater']=GDP['TIME_PERIOD'].str.split("Q").str.get(1)

In [13]:
GDP['year'] = GDP['year'].astype('int')
GDP['quater'] = GDP['quater'].astype('int')

C:\Users\Student\AppData\Local\Temp/ipykernel_5296/1342725201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GDP['year'] = GDP['year'].astype('int')
C:\Users\Student\AppData\Local\Temp/ipykernel_5296/1342725201.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  GDP['quater'] = GDP['quater'].astype('int')

In [14]:
GDP.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 328 entries, 60 to 16687
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Item         328 non-null    object
 1   TIME_PERIOD  328 non-null    object
 2   FREQ         328 non-null    object
 3   TYPE         328 non-null    object
 4   Item_VALUE   328 non-null    float64
 5   year         328 non-null    int32
 6   quater       328 non-null    int32
dtypes: float64(1), int32(2), object(4)
memory usage: 17.9+ KB

In [15]:
GDP = GDP[ GDP['year'] >= 2012 ]
GDP = GDP[ GDP['year'] <= 2021 ]

In [16]:
GDP

,Item,TIME_PERIOD,FREQ,TYPE,Item_VALUE,year,quater
12708,連鎖實質值(2016為參考年_新台幣百萬元)#8.GDP,2012Q1,Q,原始值,3742573.00,2012,1
12709,連鎖實質值(2016為參考年_新台幣百萬元)#8.GDP,2012Q1,Q,年增率(%),1.09,2012,1
12810,連鎖實質值(2016為參考年_新台幣百萬元)#8.GDP,2012Q2,Q,原始值,3864101.00,2012,2
12811,連鎖實質值(2016為參考年_新台幣百萬元)#8.GDP,2012Q2,Q,年增率(%),1.04,2012,2
12912,連鎖實質值(2016為參考年_新台幣百萬元)#8.GDP,2012Q3,Q,原始值,4057126.00,2012,3
...,...,...,...,...,...,...,...
16483,連鎖實質值(2016為參考年_新台幣百萬元)#8.GDP,2021Q2,Q,年增率(%),7.76,2021,2
16584,連鎖實質值(2016為參考年_新台幣百萬元)#8.GDP,2021Q3,Q,原始值,5318063.00,2021,3
16585,連鎖實質值(2016為參考年_新台幣百萬元)#8.GDP,2021Q3,Q,年增率(%),4.37,2021,3
16686,連鎖實質值(2016為參考年_新台幣百萬元)#8.GDP,2021Q4,Q,原始值,5604822.00,2021,4
16687,連鎖實質值(2016為參考年_新台幣百萬元)#8.GDP,2021Q4,Q,年增率(%),4.86,2021,4

In [17]:
GDP_rate = GDP[GDP['TYPE'] == '年增率(%)']
GDP = GDP[GDP['TYPE'] == '原始值']

In [18]:
print(GDP_rate.shape)
print(GDP.shape)

(40, 7)
(40, 7)

In [19]:
GDP_rate = GDP_rate.drop(['TYPE','Item','FREQ'], axis=1)
GDP = GDP.drop(['TYPE','Item','FREQ','quater'], axis=1)

In [20]:
GDP.rename(columns = {'Item_VALUE':'GDP'}, inplace = True)

GDP_rate.rename(columns = {'Item_VALUE':'GDP_rate'}, inplace = True)

In [21]:
# GDP_rate

In [22]:
GDP

      TIME_PERIOD        GDP  year
12708      2012Q1  3742573.0  2012
12810      2012Q2  3864101.0  2012
12912      2012Q3  4057126.0  2012
13014      2012Q4  4116109.0  2012
13116      2013Q1  3798607.0  2013
13218      2013Q2  3967499.0  2013
13320      2013Q3  4136219.0  2013
13422      2013Q4  4269496.0  2013
13524      2014Q1  3976799.0  2014
13626      2014Q2  4162821.0  2014
13728      2014Q3  4338997.0  2014
13830      2014Q4  4456390.0  2014
13932      2015Q1  4167494.0  2015
14034      2015Q2  4241663.0  2015
14136      2015Q3  4326715.0  2015
14238      2015Q4  4447363.0  2015
14340      2016Q1  4163911.0  2016
14442      2016Q2  4313374.0  2016
14544      2016Q3  4456444.0  2016
14646      2016Q4  4621539.0  2016
14748      2017Q1  4298922.0  2017
14850      2017Q2  4427293.0  2017
14952      2017Q3  4617188.0  2017
15054      2017Q4  4793186.0  2017
15156      2018Q1  4445450.0  2018
15258      2018Q2  4578674.0  2018
15360      2018Q3  4722901.0  2018
15462      2018Q4  4894989.0  2018
15564      2019Q1  4536614.0  2019
15666      2019Q2  4715604.0  2019
15768      2019Q3  4884815.0  2019
15870      2019Q4  5076163.0  2019
15972      2020Q1  4672351.0  2020
16074      2020Q2  4745511.0  2020
16176      2020Q3  5095513.0  2020
16278      2020Q4  5345203.0  2020
16380      2021Q1  5102244.0  2021
16482      2021Q2  5113633.0  2021
16584      2021Q3  5318063.0  2021
16686      2021Q4  5604822.0  2021

In [23]:
# print(GDP_rate.shape)
# print(GDP.shape)

In [24]:
# merge 方法可以指定欄位合併
GDP_final = pd.merge(GDP, GDP_rate, on='TIME_PERIOD')

In [25]:
# GDP_final.shape

In [26]:
# GDP_final

In [27]:
GDP_final = GDP_final.drop(['TIME_PERIOD','year_x'], axis=1)
GDP_final.rename(columns = {'year_y':'year'}, inplace = True)

In [28]:
GDP_final

          GDP  GDP_rate  year  quater
0   3742573.0      1.09  2012       1
1   3864101.0      1.04  2012       2
2   4057126.0      2.18  2012       3
3   4116109.0      4.48  2012       4
4   3798607.0      1.50  2013       1
5   3967499.0      2.68  2013       2
6   4136219.0      1.95  2013       3
7   4269496.0      3.73  2013       4
8   3976799.0      4.69  2014       1
9   4162821.0      4.92  2014       2
10  4338997.0      4.90  2014       3
11  4456390.0      4.38  2014       4
12  4167494.0      4.80  2015       1
13  4241663.0      1.89  2015       2
14  4326715.0     -0.28  2015       3
15  4447363.0     -0.20  2015       4
16  4163911.0     -0.09  2016       1
17  4313374.0      1.69  2016       2
18  4456444.0      3.00  2016       3
19  4621539.0      3.92  2016       4
20  4298922.0      3.24  2017       1
21  4427293.0      2.64  2017       2
22  4617188.0      3.61  2017       3
23  4793186.0      3.71  2017       4
24  4445450.0      3.41  2018       1
25  4578674.0      3.42  2018       2
26  4722901.0      2.29  2018       3
27  4894989.0      2.12  2018       4
28  4536614.0      2.05  2019       1
29  4715604.0      2.99  2019       2
30  4884815.0      3.43  2019       3
31  5076163.0      3.70  2019       4
32  4672351.0      2.99  2020       1
33  4745511.0      0.63  2020       2
34  5095513.0      4.31  2020       3
35  5345203.0      5.30  2020       4
36  5102244.0      9.20  2021       1
37  5113633.0      7.76  2021       2
38  5318063.0      4.37  2021       3
39  5604822.0      4.86  2021       4

In [29]:
GDP_final.to_csv("GDP.csv", index=False)

In [30]:
GDP_final.shape

(40, 4)