In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("每月_104102_B10_十.金融機構逾放比率_.csv", header=[0])
#pd.set_option("display.max_columns", None)

In [3]:
df.columns

Index(['年月', '總體逾放比率', '本國銀行', '外國及大陸地區銀行在臺分行', '信用合作社', '農漁會信用部',
       'EndofPeriod', '公告日期'],
      dtype='object')

In [4]:
df

         年月  總體逾放比率  本國銀行  外國及大陸地區銀行在臺分行  信用合作社  農漁會信用部 EndofPeriod      公告日期
0    200701    2.21  2.28           0.63   1.60    8.01         NaN  20190503
1    200702    2.31  2.38           0.64   1.63    7.91         NaN  20190503
2    200703    2.26  2.32           0.61   1.55    7.77         NaN  20190503
3    200704    2.28  2.35           0.60   1.53    7.64         NaN  20190503
4    200705    2.26  2.33           0.57   1.46    7.48         NaN  20190503
..      ...     ...   ...            ...    ...     ...         ...       ...
177  202110    0.18  0.19           0.03   0.08    0.70        Oct.  20211222
178  202111    0.18  0.19           0.03   0.09    0.67        Nov.  20220119
179  202112    0.17  0.17           0.03   0.08    0.65        Dec.  20220303
180  202201    0.16  0.16           0.03   0.08    0.66        Jan.  20220323
181  202202    0.18  0.18           0.03   0.11    0.67        Feb.  20220425

[182 rows x 8 columns]

In [5]:
df.rename(columns = {'年月':'ROC_year',
                     '總體逾放比率':'NonPerforming_Loans_Ratio',
                     
                    }, inplace = True)

In [6]:
df

,ROC_year,NonPerforming_Loans_Ratio,本國銀行,外國及大陸地區銀行在臺分行,信用合作社,農漁會信用部,EndofPeriod,公告日期
0,200701,2.21,2.28,0.63,1.60,8.01,NaN,20190503
1,200702,2.31,2.38,0.64,1.63,7.91,NaN,20190503
2,200703,2.26,2.32,0.61,1.55,7.77,NaN,20190503
3,200704,2.28,2.35,0.60,1.53,7.64,NaN,20190503
4,200705,2.26,2.33,0.57,1.46,7.48,NaN,20190503
...,...,...,...,...,...,...,...,...
177,202110,0.18,0.19,0.03,0.08,0.70,Oct.,20211222
178,202111,0.18,0.19,0.03,0.09,0.67,Nov.,20220119
179,202112,0.17,0.17,0.03,0.08,0.65,Dec.,20220303
180,202201,0.16,0.16,0.03,0.08,0.66,Jan.,20220323
181,202202,0.18,0.18,0.03,0.11,0.67,Feb.,20220425

In [7]:
df = df[['ROC_year','NonPerforming_Loans_Ratio']]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 2 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ROC_year                   182 non-null    int64
 1   NonPerforming_Loans_Ratio  182 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 3.0 KB

In [9]:
df = df[df['ROC_year'] >= 201201]
df = df[df['ROC_year'] <= 202112]

In [10]:
df['ROC_year'] = df['ROC_year'] - 191100

In [11]:
df

     ROC_year  NonPerforming_Loans_Ratio
60      10101                       0.42
61      10102                       0.42
62      10103                       0.43
63      10104                       0.60
64      10105                       0.56
..        ...                        ...
175     11008                       0.19
176     11009                       0.18
177     11010                       0.18
178     11011                       0.18
179     11012                       0.17

[120 rows x 2 columns]

In [12]:
# 轉換成main dataframe一樣的欄位方便合併
df.rename(columns = {'ROC_year':'date'}, inplace = True)

In [13]:
df.to_csv("Non_Performing_Loans_Ratio.csv", index=False)